## Java compiled files
*.class

## Python files
**/**/__pycache__/

## PyCharm files
.idea/

## Uv files
# uv.lock, .python-version, pyproject.toml are required for project reproducibility
# - do NOT ignore them

## Cph files
.cph/

## Visual Studio Code files
.vscode/

